<title>Home - Weslley's blog</title>

<h1>This is the index page of my new web application!</h1>
<p>I just used Handlebars in express to create a layout! Of course I'm far from becoming somewhat knowledgeble of this envirenment, but eventually I will get there!</p>
{{!This is a comment. It won't be displayed in the html!}}
{{#if quote}} {{!This is how you use conditionals in handlebars. For now I will stick with it...}}
<div class="quotes" style="text-align:center">
    <h1>Quote of the day</h1>
    <p style="font-size: 50px">"{{quote}}"</p>
</div>

{{else}}
    <p>No quotes!</p>
{{/if}}