<h1>This is the index page of my new web application!</h1>
<p>I just used Handlebars in express to create a layout! Of course I'm far from becoming somewhat knowledgeble of this envirenment, but eventually I will get there!</p>

<ul>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
