<title>Page not found</title>
<link rel="stylesheet" href="/css/main.css">

<div class="not-found">
    <h1>Page not found.</h1>
    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.gZAVgPcGvDZ-gTB97ZCG4wAAAA%26pid%3DApi&f=1" width="100px">
</div>
