<title>Upload file using Node JS</title>

<h1>Upload files using Node JS</h1>

<form method="POST" action="upload/file" enctype="multipart/form-data">
    <input type="file" required accept="image/*" name="file">
    <button type="submit">Submit</button>
</form>

{{!simple form to upload file to server}}