<title>Add post</title>
<link rel="stylesheet" href="/css/posts.css">

<div class="add-post">
    <h1>Add new post</h1>

    <form class="add-form" action="/posts/add" method="POST" >
        <div class="form-group">
        <label>Title:</label>
        <input class="form-control" type="text" name="title"><br>
        <label>Blog post content:</label>
        <textarea class="form-control" type="text" name="content"></textarea><br>
        <button class="btn btn-primary" type="submit">Add post</button> 
        </div>
    </form>
</div>
