<title>Blog</title>

<h1>Welcome to my blog!</h1>
<p>I'm using partials to display the blog posts bellow.</p>
{{> blogposts}} {{!This is how you declare a partial! It's located at views/partials/blogspot.handlebars}}
